 1). Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [4]:
radius = int(input("Enter the radius: "))
radius
area = 3.14*radius*radius
print('Area of the Circle is',area)

Enter the radius: 3
Area of the Circle is 28.259999999999998

2)Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [5]:
name=(input('Enter the name:'))

roll_number=(input('Enter the roll number:'))

mark=(input('Enter the mark:'))

print('Name: ',name)
print('Roll NO: ',roll_number)
print('Mark: ',mark)

Enter the name:Anisha
Enter the roll number:21
Enter the mark: 78
Name:  Anisha
Roll NO:  21
Mark:   78

3)Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [17]:
list1=[12,3,47,10]
list1
print(f'{max(list1)} is the largest number')

47 is the largest number

4)Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1â€¦.10

In [26]:
for i in range(1, 10):
    print(f"Current number {i} + Previous number {i-1} = {i + (i-1)}")

Current number 1 + Previous number 0 = 1
Current number 2 + Previous number 1 = 3
Current number 3 + Previous number 2 = 5
Current number 4 + Previous number 3 = 7
Current number 5 + Previous number 4 = 9
Current number 6 + Previous number 5 = 11
Current number 7 + Previous number 6 = 13
Current number 8 + Previous number 7 = 15
Current number 9 + Previous number 8 = 17

5)Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [38]:
num = [10,20,33,46,55]
for n in num:
  if n%5 == 0:
    print(n)

10
20
55

6) Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [41]:
n =int(input('enter the no: '))

if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,' is not a prime number')
      break
  else:
      print(n,'is a  prime number')
else:
  print(n,'is not a prime number')

enter the no: 3
3 is a  prime number

7) Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [43]:
list2=[10,40,30,70]
rev_list=list2[::-1]
print(rev_list)

[70, 30, 40, 10]

8)Write a Python program to print the following pattern.
*
**
***
****

In [54]:
i=4
for i in range(1,i+1):
  print("*"* i)

*
**
***
****

9) Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [59]:
list3=[34,12,7]
max(list3)

34

10) Write a Python program to construct the following pattern, using a
nested for loop.

In [63]:
i=5
for i in range(1, i + 1):
          print("*" * i)

for i in range(i - 1, 0, -1):
        print("*" * i)

*
**
***
****
*****
****
***
**
*